<div id="swchar">
   <h1>Search For Star Wars Character Action Figures</h1>
      <label>Name:<input type='text' class='input'></label>
      <button id="btn">Send Data</button>
  
    <div>
      <div id="img-div">
      {{#each imgDB}}

        <img class="imgs" src={{this.url}}>      

      {{/each}}

      </div>
</div>