<div id="main">
    <h1>Ask me a Star Wars Question</h1>

    <form action="/" method="POST" name="form">
        <input type="textarea" name="q" id="input">
        <button type="submit">
            Submit
        </button>
    </form>
        <p>{{{message.content}}}</p>
    </div>
   

</div>