<div id="main">
    <h1>Heller</h1>

    <form action="/" method="POST" name="form">
        <input type="text" name="q">
        <button type="submit">
            Submit
        </button>
    </form>
    <p>{{{message.content}}}</p>

</div>