<div id="main">
    <h1>Ask me a Star Wars Question</h1>

    <form action="/" method="POST" name="form">
        <input type="textarea" name="q" id="input">
        <button type="submit">
            Submit
        </button>
    </form>
    <p>{{{message.content}}}</p>

    <h1>Search For Star Wars Character</h1>
      <label>Name:<input type='text' class='input'></label>
      <button id="btn">Send Data</button>
    </div>
    <div class="image">
      <div id="img-div">
      {{#each DB}}

        <img id="imgs" src={{this.url}}>      

      {{/each}}

      </div>
</div>


</div>